body{
    background-image: url('/Projeto-extensao03/public/img/wallpaper-login.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    font-family: poppins, sans-serif;
}

body::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4); /* controla a claridade */
}

.login-card{
    max-width: 420px;
    background-color: rgba(33, 51, 131, 0.8);
    border: 1px solid  rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(8px);
}

.cadastro-link{
    margin-top: 1rem;
}
.cadastro-link:hover{
    text-decoration: underline;
}

.form-control{
    background-color: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: #fff;
}



.form-control::placeholder{
    color: rgba(255, 255, 255, 0.8);
}

.form-control:focus{
    background-color: rgba(255, 255, 255, 0.12);
    border-color: 1px solid rgba(255, 255, 255, 0.12);
}

.btn{
    border-radius: 50px;
    padding: 0.5rem 2rem;
}